<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
a="Hello,How are you?"
print(a)

Hello,How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [6]:
print("    *\n   ***\n  *****\n *******\n********* ")

    *
   ***
  *****
 *******
*********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
print("A\nB\nC")

A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [8]:
a="hello"
type(a)

str

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [10]:
b=33
type(b)

int

ii. A fractional variable

In [11]:
c=(5/3)
type(c)

float

**Declare a boolean variable and check its data type.**

In [9]:
A=True
type(A)

bool

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
comp_var=3+6j
print(comp_var)

(3+6j)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
a=23.45
a=int(a)
print(a)
print(type(a))

23
<class 'int'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [48]:
d=34
print(type(d))
d=str(d)
print(d)
print(type(d))

<class 'int'>
34
<class 'str'>

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [23]:
145*354-1345/45+(462+23)/3

51461.777777777774

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [42]:
print("ans1:", 1353+234)
print("ans2:",2355-346)
print("ans3:",234*457)
print("ans4:",25/6)
print("ans5:",25%6)
print("ans6:",33**4)
print("ans7:",45//6)
print("ans8:",2**10)

ans1: 1587
ans2: 2009
ans3: 106938
ans4: 4.166666666666667
ans5: 1
ans6: 1185921
ans7: 7
ans8: 1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [27]:
height = float(input("Enter the height of the person in meters "))
weight = float(input("Enter the weight of the person in kilograms "))
BMI = weight/(height**2)
print("Body mass index of the person is ",BMI)

Enter the height of the person in meters 1.75
Enter the weight of the person in kilograms 60.5
Body mass index of the person is  19.755102040816325

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [28]:

a= (54+34)*45
b= (0.9*2432)/0.9 
if a==b: 
    print('They are Equal') 
else: 
    print('They are not Equal')

They are not Equal

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
a="hello"
b="world"
c=a+' '+b
print("concatenated string is",c)

concatenated string is hello world

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [47]:
# we cannot concatenate 2 diferent datatypes using + operator
num=34
string='how old are you?'
print(num+string)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
step 1:start
step 2:read the number 5 from the user using input funtion and convert to string using int funtion and store in variable .
step 3:if num>0,the control moves towards for loop and loop runs for 10 times,for i in range(1,11).now control moves to 
       formula num1=num*i and using print funtion call variable Num1.Table of 5 is printed using for loop.
step 4:stop.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
step 1:start
step 2:number of values for which i have to generate a fibonacci series is read from user using input funtion
           convert string to integer  by int funtion and store it in a variable called num.
step 3:initialize variable a=0 and variable b=1 and variable sum=0 and i=0.
step 4:use while loop to check a condition (i<=num).It means loop runs for 10 times.If the condition is true,
       control moves towards the following formulaes.
       a=b,b=sum. b variables value goes to a variable and sum variable's value goes to b. 
       now addition of a and b gives sum.Now control moves towards i=i+1.i gets added by 1.
step 5:step 4 continues to repeat until i<=num and print(sum).
step 6:stop.

16.Write a pseudo code to know whether a number is greater than the other using 'if' statement.

In [0]:
step 1:start
step 2:Read 2 numbers using input funtion,convert string to integer by using int funtion and store them in 2 variables named num 1
       and num 2.
step 3:use if funtion and check the condition whether num 1 is greater than num 2(num 1>num 2),if condition is true
       num 1 is greater than num 2 will be displayed.If the condition is false,num 2 is greater than num 1 will be displayed 
        print funtion.
Step 4:stop.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
step 1:start
step 2:read the number whose divisibility i have to check with 7 by  using input funtion and convert string to int value by int
       funtion and store in a variable called num.
step 3:use if keyword and check condition (num%7==0) i.e if remainder is 0 then number is divisible by 7 .if not control moves to else 
       block and number is not divisible by 7 is displayed.
step 4:stop

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
step 1:start
step 2:read  a number and store it in variable 'a'. 
step 3:.Assign fact=1 
step 4:use if funtion to check a>0,if condition is true control moves to for block i in range(1,a+1)
step 5:from for block,control moves towards the formula,fact=fact*i and we will print fact variable.
step 6:if  variable 'a' has number less than 0,control moves to elif block and error will be displayed.if  variable 'a'
has value 0,1 will be displayed as factorial of 0 is 1. 
step 7:stop

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
Step 1:start
step 2:Read the number from user using input function and store it in a variable named 'num' as a integer using int.
step 3:Use if function and check if num>1,if condition is true control moves to for block else 'num' is not a prime number 
       will be displayed as 0,1 are not prime numbers.
step 4:if num>1,for i in range(2,num) is checked and control moves to if block to check if we get a remainder on
       dividing num with i.if this condition is true,it is not a prime number will be displayed.
        If num%i ==0 condition is false, for all values of i upto a number previous to the variable's number,
        'num' is a prime number will be displayed using print function.
step 5:stop