<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A list of words is given. Convert the words into uppercase (use lambda and map functions)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [18]:
lsbool =['True','FALse','tRUe','tRue','False','faLse','True']
res =list(map(lambda x:x.upper(),lsbool))
res

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a function to print the height of students in the class (here count of students is not fixed)</b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [35]:
def height(n):
    h=[]
    n=int(input("enter the number of students "))
    for i in range(0,n):
        height=int(input("height of the student: "))
        h.append(height)
    return h
height(5)

enter the number of students 5
height of the student: 160
height of the student: 165
height of the student: 170
height of the student: 175
height of the student: 180

[160, 165, 170, 175, 180]

 3. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.

E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on

Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.

In [2]:
x=input("enter the number :")
a=[int(i) for i in x]
dict1={'square':list(map(lambda x:x**2,a)),'cube':list(map(lambda x:x**3,a)),'squareroot':list(map(lambda x:x**(1/2),a)),'double':list(map(lambda x:x*2,a))}  
print(dict1)
sum1=0
for i,v in dict1.items():
    sum1+=v[0]
print(sum1)

enter the number :2
{'square': [4], 'cube': [8], 'squareroot': [1.4142135623730951], 'double': [4]}
17.414213562373096

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A list of words is given. Define a function to find the words from the list that have their second character in uppercase</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [13]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
def upper(n):
    for i in n:
        if(i[1].isupper()):
            print(i)
upper(ls)

hOw
ARe

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and print corresponding names from the "tnames" tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [7]:
tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)
def func(tup1,tup2):
    lis=[]
    lis1=[]
    for i in range(len(tup2)):
        if tup2[i]>40:
            lis.append(tup2[i])
            lis1.append(tup1[i])
    print(tuple(lis1))
    print(tuple(lis))
func(tnames,tmarks)

('Sharon', 'Jack')
(50, 75)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (use map and lambda functions)</b><br> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Weight of people in kg**
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}        

**Gravitational force on the Moon**
GMoon = 1.622                                              

**Gravitational force on the Earth**
GEarth = 9.81                                              

**Output:** 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [5]:
weightonearth= {'John':45, 'Shelly':65, 'Marry':35}
Gmoon=1.622
Gearth=9.81
weightonmoon=dict(map(lambda y:(y,round((weightonearth[y]*Gmoon)/Gearth,2)),weightonearth))
weightonmoon

{'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets (use reduce function)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [8]:
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
import functools
res=functools.reduce(lambda x,y : set(x).intersection(set(y)).given_sets)
print(res)

TypeError: reduce expected at least 2 arguments, got 1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C"> 
                    <b> 8. Write a function to store the price of different products in the supermarket (number of products is not fixed)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
def priceofproducts(n):
    p=[]
    n=int(input("enter the number of products "))
    for i in range(0,n):
        price=int(input("price of product: "))
        p.append(price)
    return p
priceofproducts(5)

enter the number of products 5
price of product: 100
price of product: 110
price of product: 120
price of product: 90
price of product: 80

[100, 110, 120, 90, 80]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to multiply two global variables, 16 and 12</b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
a=16
b=12
def mult():
    print("multiply 2 global variables ")
mult()
print(a*b)

multiply 2 global variables
192

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>Input list: [9,8,7,6,5]</b>

In [29]:

from itertools import accumulate
l=[9,8,7,6,5]
s=list(accumulate(l,lambda x,y :(x+y)))
res=list(accumulate(s,lambda x,y:y/(s.index(y)+1)))
res

[9, 8.5, 8.0, 7.5, 7.0]